@using ASF.UI.WbSite.Constants.ErrorController
@using ASF.UI.WbSite.Constants.HomeController
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "La meta descripción es una etiqueta importante para el SEO, y no porque sirva de ayuda en los rankings. Lo cierto es que no afecta para nada a la posición de tus páginas de los resultados del buscador....";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Victor Hugo Contreras";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    

}

<header class="jumbotron">
    <h1>Bienvenidos a la zapatería de Pepe</h1>
    <h2 class="lead">Es la mejor zapatería de la vecindad</h2>
    <img alt="imagen de un zapato" src="/Imagenes/running-shoe-with-wings-hi.png"/>
        </header>
<h1>Pepe mejor Zapatería de almagro</h1>
<h2>Tenemos un gran historial en marca y crea orificios en cuero. Por último, abrillanta y pule los zapatos aplicándoles betún y cepillándolos antes de entregarlos al cliente.</h2>

<div class="row">
    <article><p class="sombreadillo">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum. Esta confección de tela de distintos materiales (algodón, mezclilla, poliéster, pana, etc.) tiene tres aberturas; una de ellas se ajusta a la cintura y las otras dos en cada una de las piernas. El pantalón pueden ser largo, en cuyo caso las bocas de las piernas llegan a la altura de los tobillos o incluso más abajo, o puede ser corto en distintas graduaciones, que van desde la pantorrilla (piratas) hasta la rodilla (pantaloneta) o la ingle (mini-cortos). Cuando la largura llega a media pantorrilla se denominan pantalones Capri.

Esta vestimenta es usada tanto por varones como por mujeres, y suele tener también accesorios tales como bolsillos para guardar elementos personales, cremallera (bragueta en el caso de los varones), para poder vestir más fácilmente aquellos de materiales menos flexibles, y pasacintos, para poder sostener aquellos que sean holgados de cintura.

La palabra pantalón procede de Pantaleón, arquetipo literario del burgués del siglo XVII propio de la comedia del arte italiana y que vestía una prenda de este tipo
                 Muchas son las supersticiones que han rodeado a lo largo de la historia a las rapaces nocturnas, quedando reflejadas en mitos y en leyendas que han llegado hasta la actualidad. ¿El motivo? Probablemente se deba a sus hábitos nocturnos y a sus peculiares cantos. El Búho Real (Bubo bubo) y la Lechuza Común (Tyto alba) son las dos especies que se han visto afectadas en mayor medida por estas historias. Ambas han tenido siempre diferentes interpretaciones dependiendo de la zona geográfica y de la cultura.
                 Los mitos relacionados con el búho suelen ser duales, es decir que independientemente del origen de la leyenda, se le asocia con dos conceptos normalmente opuestos. Así, en algunas tribus de indígenas de Norteamérica, se decía que el búho brindaba al ser humano protección y ayuda en la oscuridad, mientras que en otras era considerado mensajero de la muerte. De la misma manera, los Mayas le consideraban mensajero del inframundo y a su vez simbolizaba la fertilidad.
                 Desde la antigüedad clásica han sido asociados con el conocimiento y la cultura, quizás debido a su penetrante mirada. Asimismo, en la mitología griega también se les vinculaba con Tropos, siniestra deidad que cortaba el hilo del destino. También han sido considerados como símbolo de timidez debido a su vuelo sigiloso y hábitos nocturnos. La lechuza ha sido relacionada igualmente con diversos significados.
                 En el antiguo Egipto representaba la noche, el frío y la muerte, o también la videncia. En el simbolismo cristiano ha tenido también diferentes interpretaciones. Sus hábitos nocturnos han sido tomados como temor a la luz, y por tanto se le ha considerado emisaría o agente del diablo. En algunas representaciones pictóricas de ermitaños aparecía una lechuza, como símbolo de soledad. Es el ave que ha tenido mayor influencia en el folclore popular debido a su estridente canto, siendo la causante de numerosas historias fantasmagóricas.</p></article>
        </div>